/* место для вашего кода */
body {
  text-decoration-skip-ink: none; /* Chrome/Safari */
  text-decoration-skip: none; /* Firefox */
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding-top:92px;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}

.header_menu {
  padding-left:50px;
  font-size:18px;
}

.header_links-list {
  display:grid;
  grid-auto-flow:column;
  justify-self:start;
}

.header_link {
  text-decoration:underline;

}

.header_link_active {
  text-decoration:none;
}

.header_links-list-item {
  padding-right:10px;
  list-style-position:inside;
  list-style-type:circle;
}

.no-marker {
  list-style-type: none;
}

.header_logo {
  display:flex;
  width:148px;
  height:105px;
}

.header__address {
  display:grid;
  flex-direction:column;
  justify-self:end;
  gap:4px;
  padding-right:90px;

}
.address {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:18px;
  font-style:normal;
}

.cover {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:757px;
  margin-top:92px;
  padding-top:50px;
  padding-right:25px;
  padding-bottom:50px;
  padding-left:45px;
  background-image:url(../images/cover.jpg);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cover.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.cover_title {
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-top:20px;
  padding-top:100px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  font-size:100px;
  text-transform:uppercase;
}

.accent_span {
  display:block;
}

.text-left {
  letter-spacing:30px;
  text-align:left;
}

.text-center {
  padding-top:20px;
  padding-left:10px;
  letter-spacing:30px;
  text-align:center;
}

.text-right {
  margin-top:15px;
  letter-spacing:30px;
  text-align:right;
}

.cover_description {
  display:flex;
  justify-content:space-between;
  text-align:center;
  text-transform:uppercase;
}

.cover_description_text {
  display:flex;
  padding-top:20px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:22px;
  word-spacing:20px;
}


.bet-button {
  display:flex;
  justify-content:center;
  align-items:center;
  width:256px;
  height:51px;
  margin-right:30px;
  border:1px solid white;
  color:white;
  font-size:22px;
  text-transform:uppercase;
  background-color:transparent;
  cursor: pointer;
}

.lots {
  margin-top:180px;
}

.lots__heading {
  margin-left:60px;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  font-size:40px;
  text-transform:uppercase;
}

.lots__card-list {
  display:flex;
  flex-wrap:wrap;
}

.card-lot {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:334px;
  margin-top:27px;
  margin-left:25px;
  padding-left:40px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.card__title {
  padding-top:50px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  font-size:22px;
  text-decoration:underline;
  text-transform:uppercase;
}

.card__text {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:254px;
  min-height:596px;
  color:white;
}

.card_paragraph {
  padding-bottom:50px;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:20px;
  text-decoration:none;
}

.card_link {
  text-decoration:none;
}

.card_type_film {
  background-image:url(../images/card-lot-01.jpg);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image:url(../images/card-lot-02.jpg);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image:url(../images/card-lot-03.jpg);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-03.jpg");
}

.check_more {
  margin-left:60px;
  padding-top:30px;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:20px;
}

.about {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin-top:120px;
}


.logo-about {
  width:240px;
  height:240px;
  margin-left:70px;
  padding-top:35px;
}

.about-info {
  width:693px;
  margin-right:30px;
}

.about-auc {
  padding-top:136px;
  font-family:'Raleway', sans-serif;
  font-weight:700;
  font-size:40px;
}

.about-text {
  width:693px;
  padding-top:80px;
  padding-left:10px;
  font-family:'Raleway', sans-serif;
  font-weight:400;
  font-size:20px;
}

.cont-text {
  padding-top:24px;
}

footer {
  display:grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top:180px;
  padding-bottom:115px;
}

.footer__address {
  display:grid;
  flex-direction:column;
  gap:5px;
  padding-left:50px;
}

.address_paragraph {
  display:grid;
  flex-direction:column;
}

.footer_menu {
  display:grid;
  width:164px;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:18px;
}

.footer_links-list-item {
  list-style:none;
}

.footer_links-list {
  text-align:center;
}

.social {
  display:grid;
  grid-auto-flow:column;
  justify-self:end;
  width:290px;


}

.social img {
  width:48px;
  height:48px;
}